@import url(./reset.css);

.nav-bar {
  display: flex;
  padding: 20px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar #menu {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar #search-bar {
  display: flex;
  flex-basis: 30%;
  height: 40px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 25px;
}

.nav-bar #search-bar input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: large;
  border-radius: 25px;
  padding-left: 2%;
}

.nav-bar #search-bar #lupa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  border-left: 1px solid rgba(204, 204, 204, 1);
}

.nav-bar #search-bar #lupa img {
  width: 20px;
  height: 20px;
}

.nav-bar #profile-bar {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar #profile-bar #picture {
  width: 34px;
  height: 34px;
  border: 1px solid black;
  border-radius: 50%;
  background: url('./assets/images/download.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 2rem;
  gap: 1.5rem;
}

main #player {
  width: 90%;
}

main #player #video iframe {
  width: 100%;
  height: 450px;
}

main #player #title {
  margin-top: .5rem;
  font-weight: 600;
}

main #player #views {
  margin-top: .5rem;
  font-weight: 600;
}

main #player #description {
  margin-top: .5rem;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
}

main #player #channel-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  width: auto;
  
}

main #player #channel-nav-bar #channel-info {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

main #player #channel-nav-bar #channel-info p:nth-child(1) {
  font-weight: 600;
}

main #player #channel-nav-bar #channel-info p:nth-child(2) {
  font-size: small;
  color: rgba(81, 81, 81, 1);

}

main #player #channel-nav-bar #subscribe-btn {
  background: rgba(204, 0, 0, 1);
  border: 2px;
  padding: 5px 25px;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 1);
  font-weight: 600;
}

main #player #channel-nav-bar #subscribe-btn:hover {
  cursor: pointer;
}

main #player #channel-nav-bar #thumbs-down, #share, #download, #thumbs-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: .5rem;
} 

main #player #channel-nav-bar #thumbs-up p, #thumbs-down p, #share p, #download p {
  font-weight: 600;
}

main #sidebar {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

main #sidebar .recomended-videos {
  display: flex;
  gap: 1rem;
}

main #sidebar .recomended-videos #info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main #sidebar .recomended-videos #title {
  font-weight: 600;
}

main #sidebar .recomended-videos #channel-name, #video-info {
  font-size: small;
  color: rgba(81, 81, 81, 1);

}

